# Easier navigation: .., ..., ...., .....
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# Shortcuts
alias desk="cd ~/Desktop/"

# Git
alias g="git"

#Compass
alias cw="compass watch"

# Yeoman
alias y="yeoman"
alias ys="yeoman server"
alias yb="yeoman build"
alias yqs="yeoman init quickstart"

# Jekyll
alias js="jekyll --server"
alias jso="open http://localhost:4000"

# Update dotfiles / go to folder
alias dot="~/.dotfiles/sync.sh"
alias godot="cd ~/.dotfiles"

# List all files colorized in long format
alias l="ls -Gl"

# List all files colorized in long format, including dot files
alias la="ls -Gla"

# List only directories
alias ld='ls -l | grep "^d"'

# Flush DNS cache
alias flushdns="dscacheutil -flushcache"

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles TRUE && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles FALSE && killall Finder"


alias update='sudo softwareupdate -i -a; brew update; brew upgrade; brew cleanup; sudo npm update -g; sudo gem update --system; sudo gem update'

alias mysqlstart="mysql.server start"
alias mysqlstop="mysql.server stop"

# Reload the shell (i.e. invoke as a login shell)
alias reload="exec $SHELL -l"

alias startampps="sudo /Applications/AMPPS/apache/bin/httpd -k start"

# Faster npm for europeans
command -v npm > /dev/null && alias npme="npm --registry http://registry.npmjs.eu"
